// Define variables for your color scheme

// For example:
$blue: #219389;
$yellow: rgb(253, 180, 101);
$orange: rgb(253, 98, 93);
$green: rgb(52, 115, 71);
$black: #112410;
$light-gray: #FAF7F6;
$red: red
