<h1>Testez votre nouvelle vie avec </h1>

  <div class="container">
      <%= simple_form_for [@life, @booking] do |f| %>
      <%= f.input :start_date,
                  as: :string,
            input_html: { data: { controller: "datepicker" } } %>

      <%= f.input :end_date,
                  as: :string,
                  input_html: { data: { controller: "datepicker" } } %>
      <%= f.button :submit, class: "btn btn-primary"%>
    <% end %>
  </div>
