.card-booking {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 0;

  .alignement {
    padding: 16px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .card-booking-infos {
    padding: 16px;
  }

.card-booking-infos h2 {
  font-size: 18px;
  font-weight: bold;
}}

.bin {
  width: 50px;
  height: 50px;
}


.card-booking-infos p {
        font-size: 14px;
        line-height: 1.4;
        opacity: .7;
        margin-bottom: 0;
        margin-top: 8px;
}

.card-booking-infos .total-price {
  color: rgb(148, 141, 141)
}
