.card-life {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items:flex-start;
  padding-left: 0px;
  border-radius: 5px;
  position: relative;
}

.life-description {
  text-align: justify;

}
.card-life-infos {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-right: 20px;
}

.card-life h3 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}


.card-life h2 {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
}


.card-life .user-infos {
  font-style: italic;
  margin: 0;
}

.card-life p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  padding-top: 8px;
}

.card-life .card-life-infos {
  padding: 20px;
}

.bottom-right-btn {
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  font-family: "Nunito", "sans-serif";
  border-radius: 5px;}

.index-page {
    height: 50px;
    width: 15%;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 15px;
  }

  .price {
    line-height: 1.4;
    margin-bottom: 0;
    padding-top: 8px;
    font-size: 20px;
    font-weight: bold;
    margin: 0;

  }
  .bottom {
    position: absolute;
    bottom: 0;
  }
