*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', 'PT Sans', sans-serif;
}
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #347347;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
#active:checked ~ .navbar{
  clip-path: circle(55%);
  z-index: 3;
  position: fixed;
}
.menu-btn{
  position: absolute;
  z-index: 3;
  right: 20px;
  /* left: 20px; */
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #FAF7F6;
  cursor: pointer;
  background: #347347;
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  color: #FAF7F6;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.navbar ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  z-index: 3;
}
.navbar ul li{
  margin: 15px 0;
}
.navbar ul li a{
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #FAF7F6;
  border-radius: 50px;
  background: #347347;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
  // z-index: 2;
}
.navbar ul li a:after {
  position: absolute;
  content: "";
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%;
  border-radius: 50px;
  transform: scaleY(0);
  animation: rotate 1.5s;
  transition: transform 0.3s ease;
}

.navbar ul li a:hover:after {
  transform: scaleY(1);
  border: 2px solid #FAF7F6;
}

.navbar ul li a:hover {
  color: #FAF7F6;
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}

@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
